.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
}

.scrolling-container {
    display: inline-block;
    width: 60%;
    height: 70vh;
    overflow-y: scroll;
    box-sizing: border-box;
}