.container {
    display: flex;
    width: 100%;
    align-items: center;
}

.left-column {
    flex: 2;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.paper {
    flex: 2.5;
    margin-right: 20%;
    justify-content: center;
}

.controls {
    border: 1px solid sandybrown;
    flex: 0.5;
    margin-right: 10%;
}