.container {
    display: flex;
    width: 100%;
    
}

.left-column {
    flex: 40%;
    margin-right: 10rem;
    /* Set the left column to occupy 40% of the available space */
}

.right-column {
    flex: 50%;
    /* Set the right column to occupy 60% of the available space */
}