.container {
    display: flex;
    width: 100%;
    
}

.left-column {
    flex: 40%;
    margin-right: 10rem;
}

.right-column {
    flex: 50%;
}

.trashIcon {
    position: fixed;
    bottom: 50px;
    right: 50px;
}