.card {
    padding: 0px;
    box-sizing: border-box;
    position: sticky;
}

.container {
    position: relative;
    border: 1px solid sandybrown;
    border-radius: 4px;
}

.removeIcon{
    position: absolute;
    top: 5px;
    right: 10px;
}